<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="com.qa.aims.listners.ExtentReportListener" />
    </listeners>

    <test name="AIMS Playwright Test" verbose="2" preserve-order="true">
        <classes>
            <class name="com.qa.aims.tests.com.qa.HostelSessionMstTest">
                <methods>
                    <include name="verifyHeader"/>
                    <include name="VerifyenterSessionCode"/>
                    <include name="verifySessionName"/>
                    <include name="selectsessionTypeDrop"/>
                    <include name="selectacdamcYearDropM"/>
                    <include name="enterFormDate"/>
                    <include name="enterToDate"/>
                    <include name="verifyIsActiveCheck"/>
                    <include name="verifyResetButton"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>